.top{
    
    display: flex;
    justify-content: space-between;

}
.a1{
    padding-top: 10px;
    display: flex;
    text-align: right;
    justify-content: space-between;
}
.name{
    color:white;
    padding-top: 20px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}